############################
# MINIO / S3
############################
AWS_ACCESS_KEY_ID=votre_access_key
AWS_SECRET_ACCESS_KEY=votre_secret_key
MLFLOW_S3_PORT=5000
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000

############################
# FRONTEND / API
############################
API_URL=http://localhost:8000
STREAMLIT_API_URL=http://localhost:9090
FASTAPI_PORT=9090

############################
# MLFLOW
############################
MLFLOW_TRACKING_URI=http://localhost:5000

############################
# TESTS / DATABASE
############################
TEST_DATABASE_URL=sqlite:///./test.db